<%= simple_form_for @student,:html => { :class => 'form-vertical'} do |f| %>
	<div class="row-fluid">
		<div class="span6">
			<h3>Common information</h3>
			<hr />
			<% @student.build_address unless @student.address %>
			<% @student.build_parent unless @student.parent %>
			<%= f.input :photo_student, :as => :file %>
			<%= f.input :email %>
			<%= f.input :name %>
			<%= f.input :nis %>
			<%= f.input :level, :collection => ["1","2","3"] %>
			<%= f.association :teacher %>
			<%= f.input :gender, :collection => ['pria',"wanita"] %>
			<%= f.input :birth_place %>
			<%= f.input :birth_day,:start_year => Date.today.year - 50 %>
			<%= f.input :religion,:collection => ['Islam',"Kristen Katolik","Kristen Protestan", "Hindu", "Budha"] %>
		</div>
		<div class="span6">
			<h3>Address Information</h3>
			<hr />
			<%= f.simple_fields_for :address do |n| %>
				<%= n.input :line_1 %>
				<%= n.input :line_2 %>
				<%= n.input :country, :include_blank => false, :priority => ["Indonesia"] %>
				<%= n.input :city %>
				<%= n.input :province %>
				<%= n.input :telephone %>
				<%= n.input :mobile %>
			<% end %>
			<br />
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h3>Parents Information</h3>
			<hr />
			<%= f.simple_fields_for :parent do |p| %>
				<%= p.input :mother_name %>
				<%= p.input :mother_job %>
				<%= p.input :mother_phone %>
				<%= p.input :father_name %>
				<%= p.input :father_job %>
				<%= p.input :father_phone %>
				<%= p.input :carers_name %>
				<%= p.input :carers_job %>
				<%= p.input :carers_phone %>
			<% end %>
		</div>
		<div class="span6">
			<h3>Security Information</h3>
			<hr />
			    <%= f.input :password, :required => true %>
				<%= f.input :password_confirmation, :required => false %>
		</div>
	</div>
	<hr />
	<div class="row-fluid">
		<div class="span12">
			<%= f.button :submit , :class => 'btn-primary' %>
			<%= link_to "back", :back , :class => "btn btn-danger" %>
		</div>
	</div>
<% end %>